<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block titulo %}Welcome!
			{% endblock %}
		</title>
		<!-- css-->
		<link rel="stylesheet" href="{{ asset('resources/Inicio/inicioBundle/css/estilos.css')}}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
		<!-- Favicon-->
		<link
		rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
		<!-- Bootstrap icons-->
		<link
		href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Core theme CSS (includes Bootstrap)-->
		<link href="{{ asset('css/modern-business.css') }}" rel="stylesheet"> {% block stylesheets %}{% endblock %}
		<link
		rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">


	</head>
	<body>
		<!-- Menu Navigation -->
		<div class="nav-wrapper">
			<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top ">
				<div class="container col s12 m4 l2 nav-wrapper">
					<a class="navbar-brand brand-logo" href=" {{path('inicioinicio_homepage')}} ">Bar Juan</a>
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarResponsive">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href=" {{ path('nosotros_i_inosotros_homepage') }} ">Nosotros</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href=" {{ path('tapas_tapas_homepage') }} ">Tapas</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Bares
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
									<a class="dropdown-item" href="{{path('contactar_contactar_homepage',{'sitio':'Celaya'})}}">Celaya</a>
									<a class="dropdown-item" href="{{path('contactar_contactar_homepage',{'sitio':'Comonfort'})}}">comonfort</a>
									<a class="dropdown-item" href="{{path('contactar_contactar_homepage',{'sitio':'Empalme_Escobedo'})}}">Empalme Escobedo</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Reservas</a>
							</li>

						</ul>
					</div>
				</div>
			</nav>
		</div>
		<!-- Fin de Menu navigation -->
		{% block contenido %}{% endblock %}
		<!-- Footer -->
		<footer class="py-5 bg-dark">
			<div class="container">
				<p class="m-0 text-center text-white">Copyright &copy; cooking Software</p>
			</div>
			<!-- /.container -->
		</footer>
		{% block javascripts %}
			<!-- boostrap core javaScript -->
			<script src="{{ asset('js/jquery-3.0.0.min.js') }}"></script>
			<script src="{{ asset('js/jquery.validate.min.js') }}"></script>


			<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
			<script src="{{ asset('resources/Inicio/inicioBundle/js/js.js')}}"></script>

			<!-- Compiled and minified JavaScript -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
			<script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>
